{% extends 'base.html' %}
{% block title %} Producto {{producto.nombre}} {% endblock %}
{% block content %}
<h1>{{ producto.nombre }}</h1><br>
<img src="/media/{{ producto.imagen }}" width="160px" heigth="160px"/>
<br><br>
<p> Descripción del producto: {{ producto.descripcion }}</p>
<p> Precio: {{ producto.precio }} euros</p>
<p> Exitencias: {{ producto.stock }} unidades</p>
{% if producto.stock > 0 %}
	<a href="#"> Comprar producto </a>
{% endif %}
<br><br>
<a href="javascript:window.history.go(-1)"> Volver a la Lista de Productos </a>
{% endblock %}
